<div class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Event</h5>
        <button type="button" {{action 'destroyModal' model}} class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

     <form {{action 'save' model on='submit'}} class="form-inline" role=form>
  
      <div class="modal-body">
        
        {{input value=model.description id="description" placeholder="Enter description" class="form-control" required=true}}

        {{input id="event-finish" type='date' class="form-control" value=model.start placeholder="Enter a start event date"}}

       {{input id="event" type='date' class="form-control" value=model.finish placeholder="Enter event finish date"}}
      
      </div> <!-- modal-body -->

      <div class="modal-footer">
        <button type="button" {{action 'save' model}} class="btn btn-primary">Submit</button>
        <button type="button" {{action 'destroyModal' model}} class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    
    </form>

    </div>
  </div>
</div>

{{yield}}
